.jumbotron
  %p.lead Now Playing
  %h1
    "Good Time"
  %h3 by Carly Rae Jespen
  %p.lead As per request from @yoidoreorg!
  %a.btn.btn-large.btn-primary#cue{:href => '/songs'} Cue your song for &yen;10/min now!
%hr
.row-fluid.marketing
  .span6
    %h4 Subheading
    %p Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.
    %h4 Subheading
    %p Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.
    %h4 Subheading
    %p Maecenas sed diam eget risus varius blandit sit amet non magna.
  .span6
    %h4 Subheading
    %p Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.
    %h4 Subheading
    %p Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.
    %h4 Subheading
    %p Maecenas sed diam eget risus varius blandit sit amet non magna.